.header {
    display: flex;
    flex-direction: column;
    grid-area: header;
    text-align: center;

    img {
        border-radius: 100%;
        padding: 4px;
        border: 5px solid #777CF4;
        margin: 0 auto;
        transform: scale(0.9);
        transition: all 0.3s ease;
    }
    
    img:hover {
        padding: 2px;
        border: 6px solid white;
    }
    
    h1 {
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        color: var(--text-primary);
    }
    
    p {
        font-style: italic;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 25px;
        color: var(--text-secondary);
    }

    @media (min-width: 400px) {
        p {
            max-width: 50%;
            margin: 0 auto;
        }
    }
    

}
